.header__lang-link {
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    }
    
.header__lang-link:hover {
    opacity: 0.6;
    text-decoration: underline;
    }
    
    
@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;}
    }
    