.header__lang-link {
  text-decoration: none;
  /*display: inline;*/
  margin-left: 18px;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 28px;
  font-weight: normal;
  transition: opacity 0.3s linear;
}

.header__lang-link:hover {
  opacity: 0.8;
}

@media all and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}