.cover__link {
  position: relative;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 740px;
  width: 100%;
  color: white;
}

.cover__link:before {
  content: "";
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.8;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transition: background-color linear .4s;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover__link {
    min-height: 640px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover__link {
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__link {
    min-height: 200px;
  }
}
  
      