.place__title {
  padding: 0;
  margin: 0;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  font-style: normal;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
    width: 97%;
  }
}

@media screen and (max-width: 767px) {
  .place__title {
    padding-left: 16px;
    font-size: 32px;
    line-height: 35px;
  }
}
