.photo-grid {
    padding-top: 92px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    max-width: 1184px;
    padding-left: 48px;
    width: calc(100% - 128px * 2);
    margin: auto;
}

@media screen and (max-width: 1280px) {
    .photo-grid {
        width: calc(100% - 48px * 2);
        margin: 0 auto;
    }
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 14px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
        margin-top: 88px;
        width: calc(100% - 24px * 2);
    }
}

@media screen and (max-width: 320px) {
    .photo-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 12px;
        margin-top: 64px;
        width: calc(100% - 16px * 2);
    }
}

