.places {
    margin: 148px auto 0 auto;
    max-width: 984px;
}

@media screen and (max-width: 1024px) {
.places {
      width: calc(100% - 48px * 2);
}
}

@media screen and (max-width: 768px) {
    .places {
        margin:88px auto 0 auto;
        width: calc(100% - 24px * 2);}
}

@media screen and (max-width: 376px) {
    .places {
        margin-top:64px;
        width: 100%;}
}