.places {
    max-width: 984px;
    margin: 92px auto 0;
}

@media screen and (max-width: 1024px) {
    .places {
        max-width: calc(100% - 96px);
    }
}

@media screen and (max-width: 768px) {
    .places {
        max-width: calc(100% - 48px);
        margin: 88px auto 0;
    }
}

@media screen and (max-width: 320px) {
    .places {
        max-width: 100%;
        margin: 64px 0 0 0;
    }
}
