.place__image {
    max-width: 100%;
    min-width: 460px;
    object-fit: cover;
    display: block;
}

@media screen and (max-width: 1279px) {
    .place__image {
        min-width: 440px;
    }
}

@media screen and (max-width: 1023px) {
    .place__image {
        min-width: 340px;
    }
}

@media screen and (max-width: 767px) {
    .place__image {
        min-width: 100%;
    }
}