.lead {
  display: flex;
  width: (100% - 2 * 148px);
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
  margin-top: 32px;
}

@media screen and (max-width: 1279px) {
    .lead {
        width: (100% - 2 * 48px);
    }
}
        
@media screen and (max-width: 1023px) {
    .lead {
        width: 100%;
        margin-top: 48px;
    }
}


