.lead {
  display: flex;
  flex-direction: column;
  max-width: 984px;
  color: white;
  margin: 0 auto;
  padding: 0 148px;
  text-align: center;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .lead {
    max-width: 928px;
    padding: 0 48px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead {
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .lead {
    min-width: 320px;
    padding: 0;
  }
}


