.lead {
  display: flex;
  max-width: 984px;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
  margin-top: 32px;
}

@media screen and (max-width: 1280px) {
    .lead {
        max-width: 984px;
        margin:0 auto;
    }
}
        
@media screen and (max-width: 1024px) {
    .lead {
        max-width: 928px;
        margin: 0 auto;
        margin-top: 48px;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        max-width:100%;
    }
}