.cover__subtitle {
  max-width: 360px;
  margin: 32px 0 0 0;
  text-align: center;
  color: #fff;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 590px) {
  .cover__subtitle {
     font-size: 17px;
  }
}

@media screen and (max-width: 425px) {
  .cover__subtitle {
      font-size: 14px;
      margin-top: 1rem;
   }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
      font-size: 14px;
      line-height: 1rem;
  }
}