.cover__subtitle{
  max-width: 360px;
  margin: 0px auto auto auto;
  align-self: center;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}


@media screen and (max-width: 767px){
  .cover__subtitle{
      margin-left: 16px;
      margin-right: 16px;
      font-size: 14px;
      line-height: 16px;
  }
}
