.cover__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */
    text-align: center;
    color: #FFFFFF;

   margin: 0;
   z-index: 1;
   font-weight: normal;
   font-size: 18px;
   line-height: 22px;
   text-align: center;
   max-width: 360px;
}

@media screen and (max-width: 376px) {
  .cover__subtitle {
      max-width: 284px;
   }
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
      font-size: 14px;
      line-height: 16px;
      max-width: 288px;
    }
}