.header__logo {
  max-width: 176px;
  max-height: 52px;
  left: 48px;
  top: 28px;
}

@media screen and (max-width: 767px) {
  .header__logo {
    max-width: 142px;
    max-height: 42px;
  }
}