.header {
    max-width: 1184px;
    /*min-height: 52px;*/
    margin: 28px 48px 56px;
    display: flex;
    justify-content: space-between;
  
}
  
@media all and (max-width: 1024px) {
    .header {
      margin: 28px 48px 48px;
    }
}
  
@media all and (max-width: 768px) {
    .header {
      margin: 28px 24px 48px;
    }
}
  
@media all and (max-width: 320px) {
    .header {
      margin: 16px 16px 48px;
    }
}