.footer__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  transition: 0.3s;
  color: #fff;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 320px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}