.lead__title {
  padding: 0;
  margin: 0 auto;
  max-width: 720px;
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
  font-style: normal;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead__title {
    padding: 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .lead__title {
    min-width: 288px;
    padding: 0 16px;
    font-size: 40px;
    line-height: 44px;
  }
}
