.lead__title {
  max-width: 720px;
  max-height: 200px;
  text-align: center;
  margin:0 0 32px 0;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
/* or 104% */
  text-align: center;
}

