.lead__title {
  max-width: 720px;
  max-height: 200px;
  text-align: center;
  margin:0 0 32px 0;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
}

@media screen and (max-width: 767px) {
  .lead__title {
    max-width: 288px;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
  }
}