.place__paragraph {
    padding: 0;
    margin: 0 0 26px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
}
  
.place__paragraph:last-of-type {
    margin-bottom: 0;
}
  
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place__paragraph {
      margin: 0 0 25px;
        font-size: 16px;
    line-height: 1.63;
    }
}


@media screen and (min-width: 320px) and (max-width: 657px) {
  .place__paragraph {
    max-width: 288px;
    margin: 0 auto 16px;
  }
}