.place__paragraph {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
/* or 29px */
  color: #FFFFFF;
  max-width: 484px;
  margin: 0;
  margin-bottom: 24px;      
}

.place__paragraph:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
   .place__paragraph {
        max-width: 456px;
    } 
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
        max-width: 352px;
    }   
}

@media screen and (max-width: 376px) {
    .place__paragraph {
        width: calc(100% - 16px * 2);
        margin:0 auto;
    }
}