.intro {
    max-width: 984px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media screen and (max-width: 1024px) {
    .intro{
        width: calc(100% - 48px * 2);
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        width: calc(100% - 24px * 2);
        
    }
}

@media screen and (max-width: 320px) {
    .intro {
        width: calc(100% - 16px * 2);
        
    }
}