.cover__text {
    z-index: 3;
    position: absolute;
    max-width: 560px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 425px) {
    .cover__text {
        width: 250px;
    }
}