.intro__cube {
    max-width: 690px;
    padding-top: 92px;
}

@media screen and (max-width: 768px) {
    .intro__cube {
        padding-top: 88px;
        max-width: 720px;}
}

@media screen and (max-width: 320px) {
    .intro__cube {
        padding-top: 64px;
        max-width: 288px;}
}