.lead__subtitle {
  max-width: 640px;
  max-height: 72px;
  margin: 0 0 64px 0;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
/* or 120% */
  text-align: center;
}

@media screen and (max-width: 1024px) {
    .lead__subtitle {
        margin: 0 0 56px 0;}
}

@media screen and (max-width: 320px) {
    .lead__subtitle {
        max-width: 288px;
        font-size: 16px;
        line-height: 20px;
        margin: 0 0 40px 0;}
}