.lead__subtitle {
  max-width: 640px;
  max-height: 72px;
  margin: 0 0 64px 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

@media screen and (max-width: 1023px) {
  .lead__subtitle {
    margin: 0 0 56px 0;
  }
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 40px 0;
  }
}