.lead__subtitle {
  padding: 0;
  margin: 32px auto 64px;
  max-width: 640px;
  font-size: 30px;
  line-height: 36px;
  font-weight: normal;
  font-style: normal;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .lead__subtitle {
    margin: 32px auto 56px;
  }
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    min-width: 288px;
    margin: 16px auto 40px;
    padding: 0 16px;
    font-size: 16px;
    line-height: 20px;
  }
}
