.cover {
  max-width: 1184px;
  margin: 0 auto 92px;
}

@media screen and (max-width: 768px) {
    .cover {
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        margin-bottom: 64px;
    }
}