.place__link {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    text-decoration-line: underline;
    max-width: 456px;
    margin:0;
    transition: 0.3s;
}

.place__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 762px) {
    .place__link {
        max-width: 352px;
    }
}