.place__link {
    color: white;
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    font-style: normal;
    transition: opacity 0.3s ease;
}
  
.place__link:hover {
    opacity: 0.8;
}
  