.cover__overlay {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; 
}

.cover__overlay::before { 
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2A2C2F;
    opacity: 0.4;
    transition: opacity 0.4s ease-in-out;
}

.cover__overlay:hover::before {
    opacity: 0.8;
}