.footer__item {
    margin-right: 18px;   
}

.footer__item:last-child {
    margin-right:0;
}

@media screen and (max-width: 376px) {
    .footer__item {
        margin-bottom: 32px;
    }
}

.footer__item:last-child {
    margin-bottom: 48px;}
}