.lead__caption {
  padding: 0;
  margin: 8px 0 0;
  font-size: 10px;
  line-height: 14px;
  font-weight: normal;
  font-style: normal;
  text-align: start;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .lead__caption {
    padding-left: 16px;
  }
}