.cover__title {
  max-width: 560px;
 margin: auto auto 32px auto;
 align-self: center;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
}

@media screen and (max-width: 767px){
  .cover__title {
      margin-left: 16px;
      margin-right: 16px;
      font-size: 32px;
      line-height: 35px;
  }
}
