.cover__title {
  margin: 0;
   font-size: 72px;
   font-size: 72px;
   line-height: 1.055;
   text-align: center;
   max-width: 560px;
   font-weight: 900;
   margin: 0 0 32px;
  color: #fff;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
/* or 106% */
}

@media screen and (min-width: 320px) and (max-width: 657px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 1.094;
    margin: 0 0 16px;
  }
}