.cover__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
/* or 106% */
  text-align: center;
  color: #FFFFFF;
  margin: 0 0 32px 0;
  z-index: 1;
  max-width: 560px;
}

@media screen and (max-width: 504px) {
    .cover__title {
      max-width: 320px;
      font-size: 42px;
      line-height: 45px;
    }
}

@media screen and (max-width: 376px) {
  .cover__title {
       font-size: 32px;
       line-height: 35px;
       max-width: 247px;
       margin: 0 0 23px 0;
    }
}

@media screen and (max-width: 320px) {
    .cover__title {
        max-width: 288px;
        margin: 0 0 7px 0;
    }
}