.place {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-row-gap: 48px;
    grid-column-gap: 40px;
    margin-bottom: 80px;
}

.place:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .place {
       grid-template-columns: 440px 1fr;
       grid-column-gap: 32px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        grid-template-columns: 340px 1fr;
        margin: 0  auto 72px auto;
    }
}

@media screen and (max-width: 670px) {
    .place {
        grid-template-columns: 1fr;
        grid-row-gap: 32px;
        margin-bottom: 48px;
        width: 100%;
    }
}