.place {
  padding: 40px 0;
  display: grid;
  gap: 48px 40px;
  grid-template-columns: 460px 1fr;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .place {
    gap: 48px 32px;
    grid-template-columns: 440px 1fr;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place {
    padding: 36px 0;
    gap: 48px 28px;
    grid-template-columns: 340px 1fr;
  }
}

@media screen and (max-width: 767px) {
  .place {
    padding: 25px 0;
    gap: 32px;
    grid-template-columns: minmax(288px, 1fr);
  }
}
