.footer {
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 128px * 2);
    margin: 0 auto;
}

@media screen and (max-width: 1280px) {
    .footer {
      width: calc(100% - 48px * 2);
      margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .footer {
      width: calc(100% - 24px * 2);
    }
}

@media screen and (max-width: 716px) {
    .footer {
      flex-direction: column;
    }
}

@media screen and (max-width: 572px) {
    .footer{
      width: calc(100% - 16px * 2);
    }
}