.footer {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  padding: 92px 48px 24px 48px;
}
  
@media screen and (max-width: 1023px) {
  .footer {
    padding: 88px 24px 24px 24px;
  }
}
  
@media only screen and (max-width: 576px) {
  .footer {
    padding: 64px 16px 24px 16px;
    flex-direction: column;
  }
}
