.place__url-heading {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
/* identical to box height, or 100% */
  letter-spacing: 2px;
  color: #AAAAAA;
  max-width: 456px;
  margin:0 0 12px 0;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .place__url-heading {
        max-width: 352px;
    }
}