.place__url-heading {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #AAAAAA;
  max-width: 456px;
  margin: 0 0 12px 0;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .place__url-heading {
    max-width: 352px;
  }
}