.place__url-heading {
  color: #aaaaaa;
  padding: 0;
  margin: 0 0 12px;
  font-size: 12px;
  line-height: 170%;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.2em;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__url-heading {
    line-height: 12px;
  }
}
