.place__website {
    grid-area: website;
    align-self: end;
  }
  
  @media screen and (max-width: 768px) {
    .place__website {
      align-self: center;
    }
  }
  
  @media screen and (min-width: 320px) and (max-width: 657px) {
    .place__website {
      min-width: 288px;
      margin: 0 auto;
    }
  }